@model SimpleClassRegisterApp.ViewModels.TeacherMarksViewModel

@section Scripts {
    <link rel="stylesheet" href="~/css/Teacher/teacherClasses.css" />
}

<h2>Chosen class: @ViewData["clas"] </h2>
<h2>Chosen subject: @ViewData["subject"] </h2>
<table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Grades</th>
            </tr>
        </thead>
        <tbody>
                    @*<tr>
                        <td>@course.Class.Identification</td>
                        <td>@course.Subject.Name</td>
                    </tr>*@
        </tbody>
</table>
