@model SimpleClassRegisterApp.ViewModels.TeacherClassesViewModel

@section Scripts {
    <link rel="stylesheet" href="~/css/Teacher/teacherClasses.css" />
}

<div class="container">

    <div class="page-header">
        <h3 class="text-center">Choose your courses:</h3>
    </div>

    <form class="form-horizontal" asp-action="Classes">

        <div class="form-group">
            <label class="control-label col-sm-4" asp-for="Subject"></label>
            <div class="col-sm-8">
                <select asp-for="Subject" class="form-control">
                    @foreach (var subject in Model.Subjects)
                    {
                        @if (Model.Teacher.TeacherSubject.Any(x => x.SubjectID == subject.SubjectID))
                        {
                            <option>@subject.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="Subject" class="text-danger field-validation-error"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" asp-for="Classes"></label>
            <div class="col-sm-8">
                <select asp-for="Class" class="form-control">
                    @foreach (var schoolclass in Model.Classes)
                    {
                            <option>@schoolclass.Identification</option>
                    }
                </select>
                <span asp-validation-for="Class" class="text-danger field-validation-error"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-6">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>

    </form>

    <h2>Your courses:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Class</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Teacher.TeachersSubjectsClasses)
            {
                @if (Model.Teacher.TeachersSubjectsClasses.Any(x => x.TeacherID == course.TeacherID))
                {
                    <tr>
                        <td>@course.Class.Identification</td>
                        <td>@course.Subject.Name</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>