@model SimpleClassRegisterApp.ViewModels.TeacherMarksViewModel

@section Scripts {
    <link rel="stylesheet" href="~/css/Teacher/teacherClasses.css" />
    <script src="~/scripts/TeacherScripts/ClassChoice.js"></script>
    <script src="~/scripts/TeacherScripts/TeacherAddModal.js"></script>
}

<div class="container">

    <div class="page-header">
        <h3 class="text-center">Choose your course:</h3>
    </div>

    <div class="form-inline text-center" >

        <div class="form-group">
            <label class="control-label col-sm-4" >Class: </label>
            <div class="col-sm-8">
                <select id="class_list" class="form-control">
                    <option value="-">-</option>
                    @foreach (var schoolClass in Model.Classes)
                    {
                        @if (Model.Teacher.TeachersSubjectsClasses.Any(x => x.ClassID == schoolClass.ClassID))
                        {
                            <option value="@schoolClass.ClassID">@schoolClass.Identification</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" >Subject:</label>
            <div class="col-sm-8">
                <select  id="subject_list" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-0">
                <button  id="submit" class="btn btn-success">Submit</button>
            </div>
        </div>

    </div>

   <div id="student_list">
   </div>

</div>