@model SimpleClassRegisterApp.ViewModels.TeacherSubjectsViewModel

@section Scripts {
    <link rel="stylesheet" href="~/css/Teacher/teacherSubjects.css" />
    <script src="~/scripts/TeacherScripts/TeacherSubjects.js"></script>
}

<h3 class="text-center">Your subjects: </h3>
<br />

<div class="container body-content">
    <div class="list-group subjects">
        @foreach (var subject in Model.Subjects)
        {
            @if (Model.Teacher.TeacherSubject.Any(x => x.SubjectID == subject.SubjectID))
            {
                <li class="list-group-item list-group-item-success">@subject.Name</li>
            }
            else
            {
                <a href="" class="list-group-item to-choose"> @subject.Name </a>
            }
        }
    </div>
</div>