
@section Scripts {
    <link rel="stylesheet" href="~/css/Account/account.css" />
}

<h3 class="text-danger">Access Denied!</h3>

<div class="alert alert-danger">
    <h4> An access is denied!</h4>
</div>
<div class="alert alert-info">
    <h4>Please contact with Administrator!</h4>
</div>